.navbar-brand {
    margin-left: 30px;
}

.navbar-nav {
    margin-right: 30px;
}

body {
    background-color: lightblue;
}

#index-about {
    background-color: lavender;
}

h1, h3 {
    margin: 20px;
    text-align: center;
}

#header-h1, #header-h3 {
    color: #A2BAF3;
}

#about-h1, #about-h3 {
    color: #ffffff;
}

h1 {
    font-size: 150px;
}