@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

.navbar-brand {
    margin-left: 30px;
}

.navbar-nav {
    margin-right: 30px;
}

body {
    background-color: lightblue;
}

#index-about {
    background-color: lavender;
}

h1,
h3 {
    margin: 20px;
    text-align: center;
}

#header-h1,
#header-h3 {
    color: #a2baf3;
}

#about-h1,
#about-h3 {
    color: #ffffff;
}

h1 {
    font-size: 150px;
}

/*
CSS using pseudo-elements
*/

#top {
    background: #ffffff;
}

#bottom {
    background: #a2baf3;
}

#top::after {
    content: "";
    position: relative;
    left: -3rem;
    /* padding * -1 */
    top: calc(3rem - 4rem / 2);
    /* padding - height/2 */
    float: left;
    display: block;
    height: 4rem;
    width: 100vw;
    background: hsla(0, 0%, 100%, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %23A2BAF3;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %23ffffff;'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
}

/** Cosmetics **/

* {
    margin: 0;
}

#top,
#bottom,
#third {
    padding: 3rem;
}

div {
    line-height: 1.2;
}

#top {
    color: white;
}

#third {
    color: #92a0ec;
    background: #92a0ec;
}

#bottom::after {
    content: "";
    position: relative;
    left: -3rem;
    /* padding * -1 */
    top: calc(3rem - 4rem / 2);
    /* padding - height/2 */
    float: left;
    display: block;
    height: 4rem;
    width: 100vw;
    background: hsla(0, 0%, 100%, 0.5);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 70 500 60' preserveAspectRatio='none'%3E%3Crect x='0' y='0' width='500' height='500' style='stroke: none; fill: %2392a0ec;' /%3E%3Cpath d='M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z' style='stroke: none; fill: %23A2BAF3;'%3E%3C/path%3E%3C/svg%3E");
    background-size: 100% 100%;
}

nav a {
    color: #92a0ec !important;
    font-size: 30px !important;
}

.navbar-nav {
    margin-left: 5% !important;
    margin-right: 5% !important;
}

nav {
    border-bottom: 2px solid #92a0ec !important;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 700 !important;
}
